.feed-details {
  margin-inline: auto;
  line-height: 1.7;
  height: 100%;
  width: 100% !important;
}
.feed-details img {
  max-height: 500px !important;
  margin-inline: auto;
  transform: none !important;
  object-fit: contain !important;
  aspect-ratio: auto !important;
  border-radius: 10px !important;
}
.feed-details svg {
  width: 30px !important;
}
.feed-details a {
  text-decoration: underline;
  margin-inline: auto;
  text-underline-offset: 2px;
  &:hover,
  &:focus-visible {
    color: #0071c7;
  }
}
.feed-details p {
  font-size: large;
  margin: 12px 0;
  padding: 0 !important;
  /* white-space: pre-wrap; */
}
/* .feed-details iframe {
  margin-inline: auto;
  /* white-space: pre-wrap; */
/* } */
.feed-details video {
  transform: none !important;
}
.feed-details .social-icons {
  display: none !important;
}
.feed-details table {
  margin: 20px 0;
  overflow-x: hidden !important;
}
.feed-details .buylink__container {
  display: none !important;
}
